{% extends "./layouts/storefront-base.html" %}
{% load extras %}

{% block content %}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="{% url 'live-view' secret %}">Home</a></li>
                            <li class="is-marked">

                                <a href="dash-my-order.html">My Orders</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">

                            <!--====== Dashboard Features ======-->
                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                {% include username|get_template_path:path|add:"/includes/dashboard-sidebar-menu.html" %}
                            </div>
                            <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                <div class="dash__pad-1">
                                    <ul class="dash__w-list">
                                        <li>
                                            <div class="dash__w-wrap">

                                                <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                <span class="dash__w-text">{{orders.count}}</span>

                                                <span class="dash__w-name">Orders Placed</span></div>
                                        </li>
                                        <li>
                                            <div class="dash__w-wrap">

                                                <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                <span class="dash__w-text">0</span>

                                                <span class="dash__w-name">Cancel Orders</span></div>
                                        </li>
                                        <li>
                                            <div class="dash__w-wrap">

                                                <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                <span class="dash__w-text">0</span>

                                                <span class="dash__w-name">Wishlist</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                    <span class="dash__text u-s-m-b-14">Here you can see all products that have been delivered.</span>
                                    {% if orders.count == 0 %}
                                        <span class="dash__text"><strong>Currently, There are no active orders.</strong></span>
                                    {% else %}
                                        <form class="m-order u-s-m-b-30">
                                            <div class="m-order__select-wrapper">

                                                <label class="u-s-m-r-8" for="my-order-sort">Show:</label><select class="select-box select-box--primary-style" id="my-order-sort">
                                                    <option selected>Last 5 orders</option>
                                                    <option>Last 15 days</option>
                                                    <option>Last 30 days</option>
                                                    <option>Last 6 months</option>
                                                    <option>Orders placed in 2018</option>
                                                    <option>All Orders</option>
                                                </select></div>
                                        </form>
                                        <div class="m-order__list">
                                            {% for order in orders %}
                                            <div class="m-order__get" >
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="dash-l-r">
                                                        <div>
                                                            <div class="manage-o__text-2 u-c-secondary">Order #{{order.order_number}}</div>
                                                            <div class="manage-o__text u-c-silver">Placed on {{order.created_at}}</div>
                                                        </div>
                                                        <div>
                                                            <div class="dash__link dash__link--brand">

                                                                <a href="dash-manage-order.html">MANAGE</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="{% url 'order-details-view' secret order.id %}">
                                                    <div class="manage-o__description">
                                                            <div class="description__container" style="width:75%;">
                                                                    {% for orderitem in order.items.all %}
                                                                        {% if forloop.counter <= 2 %}
                                                                            <div class="description__img-wrap  ml-54" style="display:flex;">
                                                                                {% if orderitem.product_variant.product.has_multiple_variants %}
                                                                                    <img class="u-img-fluid" src="{{orderitem.product_variant.featured_image.image.url}}" alt="" style="width:100%;height:100%;object-fit:cover;">
                                                                                {% else %}
                                                                                    <img class="u-img-fluid" src="{{orderitem.product_variant.product.featured_image.image.url}}" alt="" style="width:100%;height:100%;object-fit:cover;">
                                                                                {% endif %}
                                                                            </div>
                                                                        {% else %}
                                                                            <div style="height:90px;margin-left:-24px;">
                                                                                <div style="position:relative;">
                                                                                    <div style="height:24px;width:24px;border-radius:50%;padding: 2px;display:flex;align-items:center;justify-content:center;" class="{{order.get_item_statuses|first}}">
                                                                                        <span>+{{order.items.all.count|add:"-2"}}</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    
                                                                    {% endfor %}
                                                                
                                                                <div class="description-title">
                                                                    {{order.items.first.product_variant.product.title}} 

                                                                    {% if order.items.count > 1 %}
                                                                        <span style="font-weight:normal;">
                                                                            +{{order.items.count|add:"-1"}} more items
                                                                        </span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        <div class="description__info-wrap">
                                                            <div style="position:relative;">
                                                                {% for status in order.get_item_statuses %}
                                                                    {% if forloop.counter < 2 %}
                                                                        <span class="manage-o__badge {{status}}" style="width:100%">{{status|get_status}}</span>
                                                                    {% endif %}
                                                                {% endfor %}

                                                                {% if order.get_item_statuses|length > 1 %}
                                                                    <div style="width: 24px;height: 24px;background: #0094448a;border-radius: 50%;color: white;display: flex;align-items: center;justify-content: center;position: absolute;right: -5px;top: -8px;" class="{{order.get_item_statuses|first}}">
                                                                        <span>+{{order.get_item_statuses|length}}</span>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                <span class="manage-o__text-2 u-c-silver">Total:
                                                                    <span class="manage-o__text-2 u-c-secondary">{{username|get_formated_price:order.total_amount}}</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->

{% endblock content %}