{% extends "./layouts/storefront-base.html" %}
{% load extras %}
{% load static %}

{% block content %}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">
                                <a href="{% url 'live-view' secret %}">Home</a>
                            </li>
                            <li class="has-separator">
                                <a href="#">Orders</a>
                            </li>
                            <li class="is-marked">
                                <a href="#">{{order_details.id}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->

    <!--====== Section 3 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="checkout-f">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="o-summary">
                                <div class="o-summary__section u-s-m-b-30" style="border-width:0;">
                                    <div class="o-summary__item-wrap gl-scroll" style="padding:0 17px;min-height:512px;">
                                        {% for status in statusGroupedItems %}
                                            <div class="u-s-m-b-14" >
                                                <div style="border:1px solid #f5f5f5;padding:6px;">
                                                    <span class="{{status}}" style="padding:6px 10px;display:inline-flex;border-radius:24px;">{{status|get_status}}</span>
                                                </div>     

                                                {% for orderitem in statusGroupedItems|get_item:status %}
                                                    <div class="o-card" style="margin:unset;">
                                                        <div class="o-card__flex">
                                                            <div class="o-card__img-wrap">
                                                                {% if orderitem.product_variant.product.has_multiple_variants %}
                                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'product-details-view' secret orderitem.product_variant.product.id %}?{{orderitem.product_variant.option1_name}}={{orderitem.product_variant.option1_value}}{% if orderitem.product_variant.option2_name != None %}&{{orderitem.product_variant.option2_name}}={{orderitem.product_variant.option2_value}}{% endif %}{% if orderitem.product_variant.option3_name != None %}&{{orderitem.product_variant.option3_name}}={{orderitem.product_variant.option3_value}}{% endif %}">
                                                                        <img class="aspect__img" src="{{orderitem.product_variant.featured_image.image.url}}" alt="">
                                                                    </a>
                                                                {% else %}
                                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'product-details-view' secret orderitem.product_variant.product.id %}">
                                                                        <img class="aspect__img" src="{{orderitem.product_variant.product.featured_image.image.url}}" alt="">
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                            <div class="o-card__info-wrap">
                                                                <span class="o-card__name">
                                                                    {% if orderitem.product_variant.product.has_multiple_variants %}
                                                                        <a href="{% url 'product-details-view' secret orderitem.product_variant.product.id %}?{{orderitem.product_variant.option1_name}}={{orderitem.product_variant.option1_value}}{% if orderitem.product_variant.option2_name != None %}&{{orderitem.product_variant.option2_name}}={{orderitem.product_variant.option2_value}}{% endif %}{% if orderitem.product_variant.option3_name != None %}&{{orderitem.product_variant.option3_name}}={{orderitem.product_variant.option3_value}}{% endif %}">
                                                                            {{orderitem.product_variant.product.title}}
                                                                        </a>
                                                                    {% else %}
                                                                        <a href="{% url 'product-details-view' secret orderitem.product_variant.product.id %}">
                                                                            {{orderitem.product_variant.product.title}}
                                                                        </a>
                                                                    {% endif %} 
                                                                </span>
            
                                                                <span class="o-card__quantity">Quantity x {{orderitem.quantity}}</span> 
            
                                                                <span
                                                                    class="o-card__price">{{username|get_formated_price:orderitem.price}}</span>
                                                            </div> 
                                                        </div> 
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!--====== Order Summary ======-->
                            <div class="o-summary">
                                <div class="o-summary__section u-s-m-b-30">
                                    <div class="o-summary__box">
                                        <div style="display:flex;justify-content:space-between;">
                                            <div class="ship-b">
                                                <strong class="ship-b__text">Order ID</strong>
                                                
                                                <span class="ship-b__p">{{order_details.order_number}}</span>
                                            </div>

                                            <div class="ship-b">
                                                <strong class="ship-b__text">Order Date</strong>
                                                <span class="ship-b__p">{{order_details.created_at|date:"M d, Y"}}</span>
                                            </div>
                                        </div>

                                        {% comment %} <div class="ship-b">
                                            <strong class="ship-b__text u-s-m-b-14">Status</strong>

                                            {% for status in order_details.get_item_statuses %}
                                                <span class="manage-o__badge {{status}}" style="width:unset;">{{status|get_status}}</span>
                                            {% endfor %}
                                        </div> {% endcomment %}
                                    </div>
                                </div>

                            <div class="o-summary">
                                <div class="o-summary__section u-s-m-b-30">
                                    <div class="o-summary__box">
                                        <h1 class="checkout-f__h1">SHIPPING & BILLING</h1>
                                        <div class="ship-b">
                                            <span class="ship-b__text">Ship to:</span>
                                            <div class="ship-b__box u-s-m-b-10">
                                                <p class="ship-b__p">
                                                    {{order_details.address.line1}} {{order_details.address.line2}} {{order_details.address.city}} -
                                                    {{order_details.address.pin}} {{order_details.address.state.name}} {{order_details.address.state.country}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="o-summary__section u-s-m-b-30">
                                    <div class="o-summary__box">
                                        <table class="o-summary__table">
                                            <tbody>
                                                <tr>
                                                    <td>SUBTOTAL</td>
                                                    <td>{{username|get_formated_price:order_details.subtotal}}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>EXTRA DISCOUNT</td>
                                                    <td>{{username|get_formated_price:order_details.total_extra_discount}}
                                                    </td>
                                                </tr>

                                                
                                                <tr>
                                                    <td>TAXABLE AMOUNT</td>
                                                    <td>{{username|get_formated_price:order_details.taxable_amount}}
                                                    </td>
                                                </tr>

                                                
                                                <tr>
                                                    <td>TAX AMOUNT</td>
                                                    <td>{{username|get_formated_price:order_details.tax_amount}}</td>
                                                </tr>

                                                
                                                <tr style="border-top:2px solid;">
                                                    <td>Final Price</td>
                                                    <td>{{username|get_formated_price:order_details.total_amount}}</td>
                                                </tr> 
                                                
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!--====== End - Order Summary ======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 3 ======-->
</div>
<!--====== End - App Content ======-->


<script>
    const addressId = "{{address.id}}";
    let buyerId = "{{user.buyer_profiles.first.id}}"
</script>

{% endblock content %}