{% extends "./layouts/storefront-base.html" %}

{% block content %}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index.html">Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="lost-password.html">Password Reset Complete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-md-4 u-s-m-b-30" style="text-align: center;">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">PASSWORD RESET COMPLETE</h1>

                                <hr />

                                <span class="gl-text u-s-m-b-30">
                                    Your password has been set. You may go ahead and log in now.
                                </span>
                                
                                <a href="{% url 'login-view' username %}">
                                    <button class="btn  btn--e-transparent-brand-b-2" href="/" style="border-color: #2DCE89;color: #2DCE89;width: 100%;">Go Back To Login</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
</div>

{% endblock content %}