{% extends "./layouts/storefront-base.html" %}

{% block content %}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index.html">Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="lost-password.html">Password Reset Sent</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-md-4 u-s-m-b-30" style="text-align: center;">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">PASSWORD RESET SENT</h1>

                                <hr />

                                <span class="gl-text u-s-m-b-30">
                                    We’ve emailed you instructions for setting your password, if an account exists with
                                    the email you entered. You should receive them shortly.
                                </span>
                                <span class="gl-text u-s-m-b-30">
                                    If you don’t receive an email, please make sure you’ve entered the address you
                                    registered with, and check your spam folder.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
</div>

{% endblock content %}