{% extends "./layouts/storefront-base.html" %}
{% load extras %}
{% load static %}

{% block content %}

<!--====== App Content ======-->
 <div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-t-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                    <!--====== Product Breadcrumb ======-->
                    <div class="pd-breadcrumb u-s-m-b-30">
                        <ul class="pd-breadcrumb__list">
                            <li class="has-separator">
                                <a href="{% url "live-view" secret %}">Home</a>
                            </li>
                            {% for category in product.sub_categories.all %}
                                <li class="{% if not forloop.last %} has-separator {% endif %}">
                                    <a href="shop-side-version-2.html">{{category.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--====== End - Product Breadcrumb ======-->


                    <!--====== Product Detail Zoom ======-->
                    <div class="pd u-s-m-b-30">
                        <div class="slider-fouc pd-wrap">
                            <div id="pd-o-initiate">
                                {% if product.has_multiple_variants and variant %}
                                    <div class="pd-o-img-wrap" data-src="{{variant.featured_image.image.url}}">
                                        <img class="u-img-fluid" src="{{variant.featured_image.image.url}}" data-zoom-image="{{variant.featured_image.image.url}}" alt="">
                                    </div>
                                {% else %}
                                    {% for imageIntance in product.images.all %}
                                        <div class="pd-o-img-wrap" data-src="{{imageIntance.image.url}}">
                                            <img class="u-img-fluid" src="{{imageIntance.image.url}}" data-zoom-image="{{imageIntance.image.url}}" alt="">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <span class="pd-text">Click for larger zoom</span>
                        </div>
                        <div class="u-s-m-t-15">
                            <div class="slider-fouc">
                                <div id="pd-o-thumbnail">
                                    {% for imageIntance in product.images.all %}
                                        <div style="padding:6px;height:112px;" >
                                            <img class="u-img-fluid" src="{{imageIntance.image.url}}" alt="">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Product Detail Zoom ======-->
                </div>
                <div class="col-lg-7">

                    <!--====== Product Right Side Details ======-->
                    <div class="pd-detail">
                        <div>
                            <span class="pd-detail__name">{{product.title}}</span>
                        </div>
                        <div>
                            <div class="pd-detail__inline">
                                <span class="pd-detail__price">{{username|get_formated_price:product.default_variant.price}}</span>
                                <span class="pd-detail__discount">({{product.default_variant.price_off_percentage}}% OFF)</span>
                                <del class="pd-detail__del">{{username|get_formated_price:product.default_variant.actual_price}}</del>
                            </div>
                        </div>
                        <div class="u-s-m-b-15">
                            <div class="pd-detail__rating gl-rating-style">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="pd-detail__review u-s-m-l-4">
                                    <a data-click-scroll="#view-review">23 Reviews</a>
                                </span>
                            </div>
                        </div>
                        <div class="u-s-m-b-15">
                            <div class="pd-detail__inline">
                                {% if variant.quantity > 8 %}
                                    <span class="pd-detail__stock">In stock</span>
                                {% else %}
                                    {% if variant.quantity > 0 %}
                                        <span class="pd-detail__left">Only {{variant.quantity}} left</span>
                                    {% else %}
                                        <span class="pd-detail__left">Out of stock</span>
                                    {%endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% comment %} 
                        <div class="u-s-m-b-15">
                            <span class="pd-detail__preview-desc">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </span>
                        </div> 
                        {% endcomment %}
                        <div class="u-s-m-t-15">
                            <form class="pd-detail__form" name="varaint_switcher">
                                {% if product.has_multiple_variants %}
                                <div>
                                    {% with variants=product.variants.all %}
                                    {% regroup variants by option1_name as option1_list %}
                                        <div class="d-flex">
                                            {% for option1_group in option1_list %}
                                                {% if option1_group.grouper %}
                                                    <div class="u-s-m-b-15">
                                                        <span class="pd-detail__label u-s-m-b-8">{{option1_group.grouper|title}}:</span>

                                                        <div class="pd-detail__color">
                                                            <div class="color__radio">
                                                                {% for variant in option1_group.list|get_unique_items:"option1_value" %}
                                                    
                                                                    {% if option1_group.grouper == "Color" or option1_group.grouper == "color" %}
                                                                        <input type="radio" id="{{variant.option1_value}}" name="option1_value" value="{{variant.option1_value}}" data-key="{{variant.option1_name}}" style="display:none;">
                                                                                
                                                                        <label class="size__radio-label" for="{{variant.option1_value}}" style="padding:0px;">
                                                                            <img src="{{variant.featured_image.image.url}}" alt="{{variant.option1_value}}" width="98px" height="98px" style="padding: 6px;" class="cursor-pointer" title="{{variant.option1_value}}" /> 
                                                                        </label>
                                                                        
                                                                    {% else %}
                                                                        <input type="radio" id="{{variant.option1_name}}" name="option1_value" value="{{variant.option1_value}}" data-key="{{variant.option1_name}}" style="display:none;">
                                                                            
                                                                        <label class="size__radio-label" for="{{variant.option1_name}}">{{ variant.option1_value }}</label>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% regroup variants by option2_name as option2_list %}
                                        <div class="d-flex">
                                            {% for option2_group in option2_list %}
                                                {% if option2_group.grouper %}
                                                    <div>
                                                        <span class="pd-detail__label u-s-m-b-8">{{option2_group.grouper|title}}:</span>

                                                        <div class="pd-detail__color">
                                                            <div>
                                                                {% for variant in option2_group.list|get_unique_items:"option2_value" %}
                                                                    <input type="radio" id="{{variant.option2_value}}" name="option2_value" value="{{variant.option2_value}}" style="display:none;" data-key="{{variant.option2_name}}">
                                                                    
                                                                    <label class="size__radio-label" for="{{variant.option2_value}}">{{ variant.option2_value }}</label>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    {% regroup variants by option3_name as option3_list %}
                                        <div class="d-flex">
                                            {% for option3_group in option3_list %}
                                                {% if option3_group.grouper %}
                                                    <div>
                                                        <span class="pd-detail__label u-s-m-b-8">{{option3_group.grouper|title}}:</span>

                                                        <div class="pd-detail__color">
                                                            <div>
                                                                {% for variant in option3_group.list|get_unique_items:"option3_value" %}
                                                                    <input type="radio" id="{{variant.option3_value}}" name="option3_value" value="{{variant.option3_value}}" style="display:none;" data-key="{{variant.option3_name}}">
                                                                        
                                                                    <label class="size__radio-label" for="{{variant.option3_value}}">{{ variant.option3_value }}</label>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endwith %}
                                </div>
                                {% endif  %}
                            </form>
                        </div>
                        <div class="u-s-m-b-15 u-s-m-t-15">
                            <div class="pd-detail__inline">
                                <span class="pd-detail__click-wrap">
                                    <i class="far fa-heart u-s-m-r-6"></i>
                                    <a href="signin.html">Add to Wishlist</a>
                                    <span class="pd-detail__click-count">(222)</span>
                                </span>
                            </div>
                        </div>
                        <div class="u-s-m-b-15">
                            <div class="pd-detail__inline">
                                <span class="pd-detail__click-wrap">
                                    <i class="far fa-envelope u-s-m-r-6"></i>
                                    <a href="signin.html">Email me When the price drops</a>
                                    <span class="pd-detail__click-count">(20)</span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <ul class="pd-social-list">
                                <li>
                                    <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a>
                                </li>
                                <li>
                                    <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        </div>
                        <br />
                        {% if variant %}
                            <div class="u-s-m-b-15">
                                <form class="pd-detail__form">
                                    <div class="pd-detail-inline-2">
                                        <div class="u-s-m-b-15" id="cart-btn-block">
                                            
                                        </div>

                                        <div class="u-s-m-b-15">
                                            <span class="btn btn--e-brand-b-2 add-to-cart">
                                                <i class="fa fa-bolt"></i> Buy Now
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                        <div class="u-s-m-b-15">
                            <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                            <ul class="pd-detail__policy-list">
                                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Buyer Protection.</span></li>
                                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Full Refund if you don't receive your order.</span></li>
                                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Returns accepted if product not as described.</span></li>
                            </ul>
                        </div>
                    </div>
                    <!--====== End - Product Right Side Details ======-->
                </div>
            </div>
        </div>
    </div>

    <!--====== Product Detail Tab ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pd-tab">
                        <div class="u-s-m-b-30">
                            <ul class="nav pd-tab__list">
                                <li class="nav-item">

                                    <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>
                                <li class="nav-item">

                                    <a class="nav-link" data-toggle="tab" href="#pd-tag">TAGS</a></li>
                                <li class="nav-item">

                                    <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS

                                        <span>(23)</span></a></li>
                            </ul>
                        </div>
                        <div class="tab-content">

                            <!--====== Tab 1 ======-->
                            <div class="tab-pane fade show active" id="pd-desc">
                                <div class="pd-tab__desc">
                                    {{product.description|safe}}
                                </div>
                            </div>
                            <!--====== End - Tab 1 ======-->


                            <!--====== Tab 2 ======-->
                            <div class="tab-pane" id="pd-tag">
                                <div class="pd-tab__tag">
                                    <h2 class="u-s-m-b-15">ADD YOUR TAGS</h2>
                                    <div class="u-s-m-b-15">
                                        <form>
                                            <input class="input-text input-text--primary-style" type="text">

                                            <button class="btn btn--e-brand-b-2" type="submit">ADD TAGS</button>
                                        </form>
                                    </div>

                                    <span class="gl-text">Use spaces to separate tags. Use single quotes (') for phrases.</span>
                                </div>
                            </div>
                            <!--====== End - Tab 2 ======-->


                            <!--====== Tab 3 ======-->
                            <div class="tab-pane" id="pd-rev">
                                <div class="pd-tab__rev">
                                    <div class="u-s-m-b-30">
                                        <div class="pd-tab__rev-score">
                                            <div class="u-s-m-b-8">
                                                <h2>23 Reviews - 4.6 (Overall)</h2>
                                            </div>
                                            <div class="gl-rating-style-2 u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>
                                            <div class="u-s-m-b-8">
                                                <h4>We want to hear from you!</h4>
                                            </div>

                                            <span class="gl-text">Tell us what you think about this item</span>
                                        </div>
                                    </div>
                                    <div class="u-s-m-b-30">
                                        <form class="pd-tab__rev-f1">
                                            <div class="rev-f1__group">
                                                <div class="u-s-m-b-15">
                                                    <h2>23 Review(s) for Man Ruched Floral Applique Tee</h2>
                                                </div>
                                                <div class="u-s-m-b-15">

                                                    <label for="sort-review"></label><select class="select-box select-box--primary-style" id="sort-review">
                                                        <option selected>Sort by: Best Rating</option>
                                                        <option>Sort by: Worst Rating</option>
                                                    </select></div>
                                            </div>
                                            <div class="rev-f1__review">
                                                <div class="review-o u-s-m-b-15">
                                                    <div class="review-o__info u-s-m-b-8">

                                                        <span class="review-o__name">John Doe</span>

                                                        <span class="review-o__date">27 Feb 2018 10:57:43</span></div>
                                                    <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                        <span>(4)</span></div>
                                                    <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                                <div class="review-o u-s-m-b-15">
                                                    <div class="review-o__info u-s-m-b-8">

                                                        <span class="review-o__name">John Doe</span>

                                                        <span class="review-o__date">27 Feb 2018 10:57:43</span></div>
                                                    <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                        <span>(4)</span></div>
                                                    <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                                <div class="review-o u-s-m-b-15">
                                                    <div class="review-o__info u-s-m-b-8">

                                                        <span class="review-o__name">John Doe</span>

                                                        <span class="review-o__date">27 Feb 2018 10:57:43</span></div>
                                                    <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                        <span>(4)</span></div>
                                                    <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="u-s-m-b-30">
                                        <form class="pd-tab__rev-f2">
                                            <h2 class="u-s-m-b-15">Add a Review</h2>

                                            <span class="gl-text u-s-m-b-15">
                                                Your email address will not be published. Required fields are marked *
                                            </span>
                                            <div class="u-s-m-b-30">
                                                <div class="rev-f2__table-wrap gl-scroll">
                                                    <table class="rev-f2__table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <div class="gl-rating-style-2"><i class="fas fa-star"></i>
                                                                        <span>(1)</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star-half-alt"></i>
                                                                        <span>(1.5)</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <span>(2)</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star-half-alt"></i>
                                                                        <span>(2.5)</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <span>(3)</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                        <span>(3.5)</span></div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                        <span>(4)</span></div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                        <span>(4.5)</span></div>
                                                                </th>
                                                                <th>
                                                                    <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                        <span>(5)</span></div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">
                                                                        <input type="radio" id="star-1" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-1"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">
                                                                        <input type="radio" id="star-1.5" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-1.5"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">
                                                                        <input type="radio" id="star-2" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-2"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">

                                                                        <input type="radio" id="star-2.5" name="rating">
                                                                        <div class="radio-box__state radio-box__state--primary">

                                                                            <label class="radio-box__label" for="star-2.5"></label></div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">
                                                                        <input type="radio" id="star-3" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-3"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">
                                                                        <input type="radio" id="star-3.5" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-3.5"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">
                                                                        <input type="radio" id="star-4" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-4"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">
                                                                        <input type="radio" id="star-4.5" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-4.5"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                                <td>

                                                                    <!--====== Radio Box ======-->
                                                                    <div class="radio-box">

                                                                        <input type="radio" id="star-5" name="rating">

                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                            <label class="radio-box__label" for="star-5"></label>
                                                                        </div>
                                                                    </div>
                                                                    <!--====== End - Radio Box ======-->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="rev-f2__group">
                                                <div class="u-s-m-b-15">

                                                    <label class="gl-label" for="reviewer-text">YOUR REVIEW *</label><textarea class="text-area text-area--primary-style" id="reviewer-text"></textarea></div>
                                                <div>
                                                    <p class="u-s-m-b-30">

                                                        <label class="gl-label" for="reviewer-name">NAME *</label>

                                                        <input class="input-text input-text--primary-style" type="text" id="reviewer-name"></p>
                                                    <p class="u-s-m-b-30">

                                                        <label class="gl-label" for="reviewer-email">EMAIL *</label>

                                                        <input class="input-text input-text--primary-style" type="text" id="reviewer-email"></p>
                                                </div>
                                            </div>
                                            <div>

                                                <button class="btn btn--e-brand-shadow" type="submit">SUBMIT</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 3 ======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Product Detail Tab ======-->
    <div class="u-s-p-b-90">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                            <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->


        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="slider-fouc">
                    <div class="owl-carousel product-slider" data-item="4">
                        {% for similar_product in similar_products %}
                        <div class="u-s-m-b-30">
                            <div class="product-o product-o--hover-on">
                                <div class="product-o__wrap">
                                        {% if similar_product.has_multiple_variants %}
                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'product-details-view' secret similar_product.id %}?{{similar_product.default_variant.option1_name}}={{similar_product.default_variant.option1_value}}{% if similar_product.default_variant.option2_name != None %}&{{similar_product.default_variant.option2_name}}={{similar_product.default_variant.option2_value}}{% endif %}{% if similar_product.default_variant.option3_name != None %}&{{similar_product.default_variant.option3_name}}={{similar_product.default_variant.option3_value}}{% endif %}">
                                                <img class="aspect__img" src="{{similar_product.featured_image.image.url}}" alt="">
                                            </a>
                                        {% else %}
                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'product-details-view' secret similar_product.id %}">
                                                <img class="aspect__img" src="{{similar_product.featured_image.image.url}}" alt="">
                                            </a>
                                        {% endif %}
                                        
                                    <div class="product-o__action-wrap">
                                        <ul class="product-o__action-list">
                                            <li>
                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i>
                                                </a>
                                            </li> 
                                            
                                            {% if similar_product.has_multiple_variants %}
                                                <li>
                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'product-details-view' secret similar_product.id %}?{{similar_product.default_variant.option1_name}}={{similar_product.default_variant.option1_value}}{% if similar_product.default_variant.option2_name != None %}&{{similar_product.default_variant.option2_name}}={{similar_product.default_variant.option2_value}}{% endif %}{% if similar_product.default_variant.option3_name != None %}&{{similar_product.default_variant.option3_name}}={{similar_product.default_variant.option3_value}}{% endif %}">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="add-item-to-cart-block" data-product="{{similar_product.id}}"
                                            data-variant="{{similar_product.default_variant.id}}" data-has_multiple_variants="{{similar_product.has_multiple_variants}}">
                                                
                                                </li>
                                            {% endif %}
                                            
                                            <li>
                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                            <li>
                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops">
                                                    <i class="fas fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div style="margin-top:6px">
                                {% for category in product.sub_categories.all %}
                                    <span class="product-o__category d-inline-flex">
                                        <a href="shop-side-version-2.html" style="background-color: #f6f6f6;padding: 6px 12px;border-radius: 12px;">{{category.name}}</a>
                                    </span>
                                {%  endfor %}
                                </div>

                                <span class="product-o__name">
                                    {% if similar_product.has_multiple_variants %}
                                            <a href="{% url 'product-details-view' secret similar_product.id %}?{{similar_product.default_variant.option1_name}}={{similar_product.default_variant.option1_value}}{% if similar_product.default_variant.option2_name != None %}&{{similar_product.default_variant.option2_name}}={{similar_product.default_variant.option2_value}}{% endif %}{% if similar_product.default_variant.option3_name != None %}&{{similar_product.default_variant.option3_name}}={{similar_product.default_variant.option3_value}}{% endif %}">
                                                {{similar_product.title}}
                                            </a>
                                    {% else %}
                                            <a href="{% url 'product-details-view' secret similar_product.id %}">
                                                {{similar_product.title}}
                                            </a>
                                    {% endif %}
                                </span>
                                <div class="product-o__rating gl-rating-style">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="product-o__review">(20)</span>
                                </div>

                                <span class="product-o__price">{{username|get_formated_price:similar_product.default_variant.price}}

                                <span class="product-o__discount">{{username|get_formated_price:similar_product.default_variant.actual_price}}</span></span>
                            </div>
                        </div>
                        {% endfor  %}
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->

<script>
    var productId = "{{product.id}}";
    var variantId = "{{variant.id}}";
    var username = "{{username}}";
    var secret = "{{secret}}";

    isAlreadyInCart = cart[user]?.find((item) => (item.productId === productId && item.variantId === variantId))

    // Working with multiple varaint product start *******/ 

    const option1_values = document.varaint_switcher.option1_value || [];

    for (var i = 0; i < option1_values.length; i++) {
        option1_values[i].addEventListener("change", function (e) {
            const urlSearchParams = new URLSearchParams(window.location.search.replace("?",""));

            const params = Object.fromEntries(urlSearchParams);

            const query = new URLSearchParams({...params,[this.dataset.key]:e.target.value});

            window.location.replace(window.location.origin.concat(window.location.pathname).concat(`?${query.toString()}`))
        });
    }

    const option2_values = document.varaint_switcher.option2_value || [];

    for (var i = 0; i < option2_values.length; i++) {
        option2_values[i].addEventListener("change", function (e) {
            const urlSearchParams = new URLSearchParams(window.location.search.replace("?",""));

            const params = Object.fromEntries(urlSearchParams);

            const query = new URLSearchParams({...params,[this.dataset.key]:e.target.value});

            window.location.replace(window.location.origin.concat(window.location.pathname).concat(`?${query.toString()}`)) 
        });
    }

    const option3_values = document.varaint_switcher.option3_value || [];

    for (var i = 0; i < option3_values.length; i++) {
        option3_values[i].addEventListener("change", function (e) {
            const urlSearchParams = new URLSearchParams(window.location.search.replace("?",""));

            const params = Object.fromEntries(urlSearchParams);

            const query = new URLSearchParams({...params,[this.dataset.key]:e.target.value});

            window.location.replace(window.location.origin.concat(window.location.pathname).concat(`?${query.toString()}`)) 
        });
    }

    // Working with multiple varaint product end  *******/

    const addItemToCartBlocks = document.getElementsByClassName("add-item-to-cart-block");
    
    for (let i = 0; i < addItemToCartBlocks.length; i++) {
        const productId = addItemToCartBlocks[i].getAttribute("data-product");
        const variantId = addItemToCartBlocks[i].getAttribute("data-variant");
        const has_multiple_variants = addItemToCartBlocks[i].getAttribute("data-has_multiple_variants");

        const isAlreadyInCart = cart[user]?.find((item) => (item.productId === productId && item.variantId === variantId))

        if(has_multiple_variants === "False"){
            if (isAlreadyInCart) {
                addItemToCartBlocks[i].innerHTML += `
                    <a href="/sites/{{secret}}/cart"   >
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                `
            } else {
                addItemToCartBlocks[i].innerHTML += `
                    <a class="add-to-cart" data-product=${productId} data-variant=${variantId} data-action="add">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                `
            } 
        }
    }
</script>

{% endblock content %}