<!DOCTYPE html>
{% load static %}
{% load extras %}
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static username|get_static_path:path|add:'/images/favicon.png' %}" rel="shortcut icon">
    <title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="{% static username|get_static_path:path|add:'/css/vendor.css' %}">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="{% static username|get_static_path:path|add:'/css/utility.css' %}">

    <!--====== App ======-->
    <link rel="stylesheet" href="{% static username|get_static_path:path|add:'/css/app.css' %}">

    <!--====== App ======-->
    <link rel="stylesheet" href="{% static username|get_static_path:path|add:'/css/style.css' %}">

    <script type="text/javascript">
        var user = '{{request.user}}'

        var handle = '{{username}}';

        let isAlreadyInCart = null;

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		var csrftoken = getToken('csrftoken');

        function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}

		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}

            if(user !== "AnonymousUser"){
                cart[user] = []
            }

			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
    </script>
</head>

<body class="config" >
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="{% static username|get_static_path:path|add:'/images/preloader.png' %}" alt="">
        </div>
    </div>

    <!--====== Main App ======-->
    <div id="app">
        {% include username|get_template_path:path|add:"/includes/header.html" %}

        {% block content %} {% endblock content %}
        
        {% include username|get_template_path:path|add:"/includes/footer.html" %}
    </div>
    <!--====== End - Main App ======-->

    <!--====== Vendor Js ======-->
    <script src="{% static username|get_static_path:path|add:'/js/vendor.js' %}"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="{% static username|get_static_path:path|add:'/js/jquery.shopnav.js' %}"></script>

    <!--====== App ======-->
    <script src="{% static username|get_static_path:path|add:'/js/app.js' %}"></script>
    
    <!--====== Main ======-->
    <script src="{% static username|get_static_path:path|add:'/js/main.js' %}"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a
                                JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>

</html>