<div class="dash__pad-1">
    <span class="dash__text u-s-m-b-16">Hello, {{user}}</span>

    <ul class="dash__f-list">
        <li>

            <a class="dash-active" href="{% url 'storefront-dashboard' secret %} ">Manage My Account</a>
        </li>
        <li>
            <a href="{% url 'profile-template' secret %}">My Profile</a>
        </li>
        <li>

            <a href="{% url 'address-book' secret %}">Address Book</a>
        </li>
        <li>

            <a href="dash-track-order.html">Track Order</a>
        </li>
        <li>
            <a href="{% url 'orders-template' secret %}">My Orders</a>
        </li>
        <li>

            <a href="{% url 'payment-options-template' secret %}">My Payment Options</a>
        </li>
        <li>

            <a href="{% url 'cancellation-view' secret %}">My Returns & Cancellations</a>
        </li>
    </ul>
</div>